<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/auth.css") }}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        function onSubmit(token) {
            document.getElementById("login").submit();
        }
        function onRegSubmit(token) {
            document.getElementById("register").submit();
        }
    </script>

</head>
<body>

<div class="login-page">
    <div class="form">
        <label style="position: relative;top: -20px;font-family:'Raleway' ,sans-serif">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </label>
        <form class="register-form" id="register" method="post" action="/auth/register">
            <input type="text" placeholder="name" name="usr"/>
            <input type="password" placeholder="password" name="pwd"/>
            <input type="text" placeholder="email address" name="email"/>
            <button class="g-recaptcha" type="submit"
                    data-sitekey="6LdDGyYUAAAAAKsir1fOAOLT8AbUafN4diPusVA9"
                    data-callback="onRegSubmit">Register
            </button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" id="login" method="post" action="{{ url_for('auth.login') }}">
            <input type="email" placeholder="email" name="eml"/>
            <input type="password" placeholder="password" name="pwd"/>
            <button class="g-recaptcha" type="submit"
                    data-sitekey="6LdDGyYUAAAAAKsir1fOAOLT8AbUafN4diPusVA9"
                    data-callback="onSubmit">login
            </button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
        <a id="goback" href="{{ url_for('index') }}" style="font-weight: 100;font-family:'Raleway', sans-serif;">Go back</a>
    </div>
</div>



<script src="{{ url_for('static', filename="js/jquery.js") }}"></script>
<script src="{{ url_for('static', filename="js/authentication/main.js") }}"></script>
<script type="text/javascript">
    {% if 'toggle' in request.args %}
        $('form').animate({height: "toggle", opacity: "toggle"}, 1030);
    {% endif %}
</script>
</body>
</html>
