<form class="login-form" id="login" method="post" action="{{ url_for('auth.login') }}">
    <input type="email" placeholder="email" name="eml"/>
    <input type="password" placeholder="password" name="pwd"/>
    <button class="g-recaptcha" type="submit"
            data-sitekey="6LdDGyYUAAAAAKsir1fOAOLT8AbUafN4diPusVA9"
            data-callback="onSubmit">login
    </button>
    <p class="message">Not registered? <a href="#">Create an account</a></p>
</form>
<br>
<label style="position: relative;top: -20px;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</label>