<form class="register-form" id="register" method="post" action="/auth/register">
    <input type="text" placeholder="name" name="usr"/>
    <input type="password" placeholder="password" name="pwd"/>
    <input type="text" placeholder="email address" name="email"/>
    <button  type="submit">Register</button>
    <p class="message">Already registered? <a href="#">Sign In</a></p>
</form>
<br>
<label style="position: relative;top: -20px;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</label>